# Express Server Port
PORT=3000

# Fabric Network Configuration
FABRIC_NETWORK_BASE_DIR=/path/to/fabric-samples/test-network
WALLET_PATH=../../wallet
CHANNEL_NAME=mychannel
CHAINCODE_NAME=dispute
MSP_ID=Org1MSP

# Fabric Gateway Client Configuration
PEER_ENDPOINT=localhost:7051
PEER_HOST_ALIAS=peer0.org1.example.com

# Security
JWT_SECRET=super-secret-development-key
